.clients {
	padding: 60px 0;
	@include desktop {
	  padding: 94px 0;
	}
}
.clients-title {
	font-size: 28px;
	line-height: 1.18;
	text-align: center;
	margin-bottom: 30px;
	@include desktop {
	  font-size: 36px;
	  line-height: 1.67;
	  margin-bottom: 50px;
	}
}
.clients-list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--indent);
	justify-content: center;
}
.clients-link {
	display: flex;
	width: 210px;
	height: 92px;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--icon-cl);
	border-radius: 4px;
	color: var(--icon-cl);
	transition: color var(--anim-fast), border-color var(--anim-fast);
	@include desktop {
		width: 170px;
	  }
	&:hover,
	&:focus {
	border-color: var(--icon-hover-cl);
	color: var(--icon-hover-cl);
}
}

.clients-icon {
	fill: currentColor;
}