.footer {
	background-color: var(--dark-bg-cl);
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}
.footer .container {
	// display: flex;
	// align-items: baseline;
}
.address-container-wrapper {
	margin-bottom: 60px;
	}

.address-container {
	margin-bottom: 60px;
}
.logo-ft {
	margin-right: 0px;
}
.logo-dark {
	color: var(--white-txt-cl);
}
.address {
	margin-top: 20px;
}
.address-iteam,
.contacts-iteam {
	// margin-bottom: 9px;
	margin-bottom: 8px;
}
.adsress-link {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--white-txt-cl);
	transition: color var(--anim-fast);

	&:hover,
	&:focus {
		color: var(--accent-txt-cl);
	}
}

.contacts-iteam:last-child {
	margin-bottom: 0;
}
.contacts-link {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--anim-fast);

	&:hover,
	&:focus {
		color: var(--accent-txt-cl);
	}
}

// .join-container {
// 	margin-right: auto;
// 	margin-bottom: 60px;
// }
.join-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-txt-cl);
	margin-bottom: 20px;
}

.footer-socila-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	fill: var(--icon-white);
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color var(--anim-fast);

	&:hover,
	&:focus {
		background-color: var(--icon-hover-cl);
	}
}
@include tablet {
	.mailing-input {width: 450px;}
	.address-container-wrapper {
	  display: flex;
	  justify-content: space-around;
	  margin-bottom: 0;
	 }
  }
  @include desktop {.footer {
	text-align: left;
	& .container {
	  display: flex;
	  align-items: baseline;
	}
  }
  .logo-footer {font-size: 26px;}
  .address-container-wrapper {margin-right: auto;
	margin-bottom: 0;
	align-items: baseline;}
	.address-container {margin-right: 70px; margin-bottom: 0;}
	.footer-soc-container {margin-right: auto;
	  margin-bottom: 0;}
	  .mailing-form {display: flex;
		}
		.mailing-input {margin-right: 12px;
		width: 358px;
	  margin-bottom: 0;}
	  .mailing-button {margin: 0;}
  }
