.peculiarities {
	padding-top: 60px;
	padding-bottom: 60px;

	@media  screen and (min-width: 1200px) {
		padding-top: 96px;
		padding-bottom: 96px;
	}
}

.peculiarities-list {
	justify-content: center;

	@media  screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	gap: 30px;
	}
	@media  screen and (min-width: 1200px) {
		display: flex;
		flex-wrap: nowrap;
	gap: 30px;
	}
	
}
.peculiarities-list__item {
	margin-bottom: 30px;
	
	@media  screen and (min-width: 768px) {
		flex-basis: calc((100% - var(--indent) * (2 - 1)) / 2);
		margin-bottom: 0px;
	}
	@media  screen and (min-width: 1200px) {
		margin-bottom: 0px;
		flex-basis: 270px;
	}
}
.peculiarities-list__item:last-child {
margin-bottom: 0px;
}
.peculiarities-list__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;
	margin-bottom: 30px;
	background-color: #f5f4fa;
	@media  screen and (min-width: 768px) {
		width: 354px;
	}
	@media  screen and (min-width: 1200px) {
		width: 270px;
	}
}
.peculiarities-list__h {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-txt-cl);
	@media screen and (max-width: 767px) {
text-align: center;
justify-content: center;
	}
}
.peculiarities-list__p {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--gray-txt-cl);
}