.peculiarities-list {
	display: flex;
	gap: 30px;
}
.peculiarities-list__item {
	flex-basis: 270px;
}
.peculiarities-list__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
	background-color: #f5f4fa;
}
.peculiarities-list__h {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-txt-cl);
}
.peculiarities-list__p {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--gray-txt-cl);
}