.portfolio {
	padding-top: 60px;
	padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
	padding-bottom: 94px;
  }
}
.btn-list-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 40px;
  
	@include tablet {
	  margin-bottom: 30px;
	  justify-content: center;
	}
	@include desktop {
	  margin: bottom 50%;
	  justify-content: center;
	}
}
.btn-filtr {
	padding: 6px 22px;
	background-color: var(--light-bg-cl);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	box-shadow: none;
	color: var(--main-txt-cl);
	transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);

	&:hover,
	&:focus {
		background-color: var(--accent-txt-cl);
		color: var(--white-txt-cl);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
	margin-left: -30px;
}
.portfolio-item {
	flex-basis: calc(100% / 1 - 30px);
  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
  }
  @include desktop {
    flex-basis: calc(100% / 3 - 30px);
  }
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-link {
	display: block;
	transition: box-shadow var(--anim-fast);
	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.img-cover {
	position: relative;
	overflow: hidden;
}
.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	transition: transform var(--anim-fast);

	.portfolio-link:hover &,
	.portfolio-link:focus & {
		transform: translateY(0);
	}
}
.overlay-text {
	width: 402px;
	font-size: 18px;
	line-height: calc(28 / 18);
	color: var(--white-txt-cl);
	@include tablet {
		width: 306px;
	  }
	  @include desktop {
		width: 322px;
	  }
}
.portfolio-wrapper {
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
	border: 1px solid #eeeeee;
	border-top: none;
	@include tablet {
		height: 146px;
	  }
}
.portfolio-name {
	margin-bottom: 4px;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--main-txt-cl);
}
.portfolio-text {
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--gray-txt-cl);
}
