.team {
	background-color: var(--light-bg-cl);
	margin-bottom: 60px;
}
.team__title {
	padding: 60px 0 30px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-txt-cl);
  @include desktop {
    padding: 94px 0 50px 0;
    font-size: 36px;
    line-height: 1.16;
  }
	
}
.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	background-color: var(--light-bg-cl);
	
}
.team__item {
	background-color: var(--cards-bg-cl);
	width: 450px;
}
.team-wrapper {
	padding-top: 30px;
	padding-bottom: 24px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	@include desktop {
		padding-bottom: 30px;
	  }
}
.team-name {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-txt-cl);
}
.team-proffeison {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--gray-txt-cl);

	margin-bottom: 16px;
}
