
.mailing-form {
	// display: flex;
	// align-items: flex-end;
  }
  .mailing-header {
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-bg-cl);
	margin-bottom: 20px;
  }
  .mailing-input {
	min-width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	outline: transparent;
	color: var(--white-bg-cl);
	padding-left: 16px;
	margin-bottom: 20px;
  }
  .mailing-input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);
  }
  .mailing-button {
	margin: 0 auto;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: var(--accent-txt-cl);
	// margin-left: 12px;
	border: none;
	color: var(--white-bg-cl);
	fill: var(--white-bg-cl);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  }
  
  .mailing-icon {
	margin-left: 10px;
  }